div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    transition: all 500ms ease-in-out;
  }
  
  div.gallery img {
    width: 100%;
    transition: all 500ms ease-in-out;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: rgb(235, 158, 16);
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
    font-size: 17px;
  }
  h2{
      text-align: center ;
      font-family: "Times New Roman", Times, serif;
      font-style: oblique;
    }

    body {
        background-color: lightblue;
      }

 